# Macro varargs, kwargs, caller

{% macro test() %}
   {{ varargs }}
   {{ test.name }}
   {{ test.catch_varargs }}
{% endmacro %}

{{ test('hello', 'world!') }}

{% macro test2(say='hello',var_name) %}
   {{ test2.name }}
   {{ test2.defaults }}
   {{ test2.arguments }}
   {{ var_name }}
   {{ kwargs }}
   {{ test2.catch_kwargs }}
{% endmacro %}

{{ test2(var_name='world') }}


{% macro test3() %}
Text from the caller follow
TEXT FROM CALLER
{{ caller() }}
{% endmacro %}

{% call test3() %}
KALLER TEXT
USEFUL FOR CODE REPETED
{% endcall %}


###
### Create inventory
###

{% macro inventory(group, hosts) %}
[{{ group }}]
{% for host in hosts %}
{{ host }} {{ caller(host) }}
{% endfor %}
{% endmacro %}

{% call(host) inventory('web',['host1','host2', 'host3']) %}
ansible_ssh_host={{ host }}.example.com ansible_ssh_user=root
{% endcall %}
